
// colors 
$claro : white;
$azul-claro: #37BCF9;
$azul: #00538C;
$oscuro: rgb(32, 32, 32);

// fuentes
$font:'Bebas Neue', cursive;

// shadow
$shadow: 0px 0px 3px rgb(179, 179, 179);

// border

$border: solid 1px rgb(177, 177, 177);
